
.formControl.error input,
.formControl.error textarea {
    border: solid 2px red;
}

.formControl.error span {
    color: red;
    font-weight: 700;
}

.formSummaryError {
    border: 1px solid red;
    padding: 5px;
    color: red;
    font-weight: 700;
}

.captchaImg {
    max-width: 200px;
}