.header {
  grid-area: h;
  background-color: lightgrey;

}

.header img {
  width: 100px;
}

.loginBlock {
  float: right;
}

.loginBlock a {
  color: white;
  padding: 5px;
  text-decoration: none;
}