.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto auto;
  grid-gap: 0.5em;

  grid-template-areas:
      'header header header header header header'
      'nav content content content content content'
   ;

}

.header {
  grid-area: h;
}

.nav {
  grid-area: n;
}

.content {
  grid-area: c;
}

.app-wrapper-content {  
    grid-area: content;
    background-color: lightskyblue;     
}

.app-wrapper-content img {
  width: 800px;
}
